@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply h-[100vh] text-white leading-loose;
  background: linear-gradient(-45deg, #69199e, #e3ab11, #0b759b, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
